*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    max-width: 1000px;
    padding: 50px;
    box-shadow: 0px 10px 30px black;
    border-radius: 20px;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
}

span{
color: rgb(195, 139, 148);
}

.p1{
    font-size: 20px;
    margin-bottom: 40px;
}

.btn{
    background-color: rgb(195, 139, 148);
    padding: 15px 20px;
    border-radius: 35px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(219, 96, 116);
}

img{
    width: 350px;
    border-radius: 20px;
    transition: transform 0.3s;
}


img:hover{
   transform: scale(1.05); 
}


.stats{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 100px;
}

.stat-box{
    background-color: rgb(195, 139, 148);
    padding: 25px 35px;
    border-radius: 20px;
}