body {
  font-family: Georgia, 'Times New Roman', serif;
  background: #ebe1cc;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #111;
  margin-top: 50px;
  margin-bottom: 50px;
}

.m{
  color: #f5a623;
  font-size: 48px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.menu-item {
  text-align: center;
  max-width: 220px;
}

img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 6px solid #f5a623;
}

h2 {
  font-size: 30px;
}